{% extends "layout.html" %}
{% block script %}
<!-- 
styling here

-->
{% endblock script %}

{% block my_content %}

<!-- Plotly plot placeholder -->
<div class="container-fluid">
    <h2 style="color:navy; margin:10px; border:1px">Market Consensus Drill Down</h2>
    <!-- first row, first column-->
    <div class=2"row">
        <h4 style="color:navy; margin:10px;">Time Series of Sentiment Scores</h4>
        <div class="chart" id="market-6">
        </div>
    </div>
    <hr>
    <div class=2"row">
        <h4 style="color:navy; margin:10px;">Analysis on Data Collected</h4>
        <h5 style="color:navy; margin:10px;">Ngram Plot for FOMC Statement</h5>
        <div class="chart" id="market-4">
        </div>
    </div>
    <div class=2"row">
        <h5 style="color:navy; margin:10px;">Ngram Plot for FOMC Meeting Minutes</h5>
        <div class="chart" id="market-5">
        </div>
    </div>
    <hr>
</div>

<script>
    //Parse your Json variable here
    var graphs = {{ context.market_ts_plot | safe }};
    Plotly.plot('market-1', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.market_sentiments_drill2 | safe }};
    Plotly.plot('market-2', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.market_sentiments_drill3 | safe }};
    Plotly.plot('market-3', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.ngram_min | safe }};
    Plotly.plot('market-5', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.ngram_statement| safe }};
    Plotly.plot('market-4', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.market_ts_plot| safe }};
    Plotly.plot('market-6', graphs, {});
</script>

{% endblock my_content %}