{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->

{% endblock script %}


{% block my_content %}
<!-- first row -->
<div class="container-fluid">
    <div class="row">
        <h1 style="margin:15px;">Overall Rate Decision</h1>
    </div>
    <div class=2"row">
        <div class="chart" id="home-6">
        </div>
    </div>
    <div class=2"row">
        <div class="chart" id="home-5">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="small-box bg-navy">
                <div class = 'row'>
                    <h4 style="margin:15px;">    Market Consensus</h4>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box bg-navy">
                <div class = 'row'>
                    <h4 style="margin:15px;">Macroeconomic Indicators</h4>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box bg-navy">
                <div class = 'row'>
                    <h4 style="margin:15px;">Fed Fund Futures</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- second row -->
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div id="home-4">
                </div>
            </div>
            <div class="row">
                <div id="home-1">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="home-2">
            </div>
        </div>
        <div class="col-md-4">
            <div id="home-3">
            </div>
        </div>
    </div>
</div>
</body>




<!-- Script to execute the Json ( we can create it also with looping) -->
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_market_senti_main | safe }};
    Plotly.plot('home-1', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_market_senti_main | safe }};
    Plotly.plot('home-8', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.macro_maindashboard_plot| safe }};
    Plotly.plot('home-2', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_fff| safe }};
    Plotly.plot('home-3', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_market_average | safe }};
    Plotly.plot('home-4', graphs, {});
</script>
<script>
    //PLACEHOLDER TO BE REPLACED WITH ACTUAL OVERALL INDEX
    var graphs = {{ context.macro_ts_plot | safe }};
    Plotly.plot('home-5', graphs, {});
</script>
<script>
    //PLACEHOLDER TO BE REPLACED WITH GAUGE
    var graphs = {{ context.plot_gauge | safe }};
    Plotly.plot('home-6', graphs, {});
</script>
{% endblock my_content %}