{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->
{% endblock script %}


{% block my_content %}
<!-- first row -->
<div class="container-fluid">
    <div class="row">
        <h2>Overall Rate Decision</h2>
    </div>
    <div class=2"row">
        <div class="chart" id="home-6">
        </div>
    </div>
    <div class=2"row">
        <div class="chart" id="home-5">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="small-box bg-warning">
                <div class="inner">
                    <div class = 'row'>
                        <h3>    Market Consensus</h3>
                    </div>
                    <div class = 'row'>
                        <div class='chart' id="home-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>Macroeconomic Indicators</h3>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box bg-danger">
                <div class="inner">

                    <h3>Fed Fund Futures</h3>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- second row -->
    <div class="row">
        <div class="col-4">
            <div id="home-1">
            </div>
        </div>
        <div class="col-4">
            <div id="home-2">
            </div>
        </div>
        <div class="col-4">
            <div id="home-3">
            </div>
        </div>
    </div>
</div>




<!-- Script to execute the Json ( we can create it also with looping) -->
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_market_senti_main | safe }};
    Plotly.plot('home-1', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_gdp_index | safe }};
    Plotly.plot('home-2', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_fff| safe }};
    Plotly.plot('home-3', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_market_average | safe }};
    Plotly.plot('home-4', graphs, {});
</script>
<script>
    //PLACEHOLDER TO BE REPLACED WITH ACTUAL OVERALL INDEX
    var graphs = {{ context.market_sentiments_drill1 | safe }};
    Plotly.plot('home-5', graphs, {});
</script>
<script>
    //PLACEHOLDER TO BE REPLACED WITH GAUGE
    var graphs = {{ context.plot_gauge | safe }};
    Plotly.plot('home-6', graphs, {});
</script>
{% endblock my_content %}