{% extends "layout.html" %}
{% block script %}
<!-- 
styling here

-->
{% endblock script %}

{% block my_content %}

<!-- Plotly plot placeholder -->
<div class="container-fluid">
    <h3>Market Consensus Drill Down</h3>

    <!-- first row, first column-->
    <div class=2"row">
        <div class="chart" id="market-1">
        </div>
    </div>
    <hr>
    <div class=2"row">
        <div class='chart' id="market-2">
        </div>
    </div>
    <hr>
    <div class=2"row">
        <div class='chart' id="market-3">
        </div>
    </div>
    <hr>
    <div class=2"row">
        <div class="col">
            <div class='chart' id="market-4">
            </div>
        </div>
        <div class="col">
            <div class='chart' id="market-5">
            </div>
        </div>
    </div>
</div>

<script>
    //Parse your Json variable here
    var graphs = {{ context.market_sentiments_drill1 | safe }};
    Plotly.plot('market-1', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.market_sentiments_drill2 | safe }};
    Plotly.plot('market-2', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.market_sentiments_drill3 | safe }};
    Plotly.plot('market-3', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.ngram_min | safe }};
    Plotly.plot('market-4', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.ngram_statement| safe }};
    Plotly.plot('market-5', graphs, {});
</script>

{% endblock my_content %}