{% extends "layout.html" %}
{% block script %}
<!-- 
styling here

-->
{% endblock script %}

{% block my_content %}

<div class="container-fluid">

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://www.investopedia.com/thmb/I1ZGQjWi4BqLRTqwygxDb5CRNpM=/2400x1650/filters:fill(auto,1)/GettyImages-891634254_2400-acea07b464d94bedbd2d7b38f7c55e27.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Natwest Rate Decision Index Models</h1>
            <p class="lead">Interact and run your own data and files with the models here and see the results updated in real-time on the dashboards.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Methodology</button>
            </br>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">About</button>
            </div>
          </div>
        </div>
      </div>

    
    <div class="px-4 py-5 my-5 text-center">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                  <h3>Market Consensus</h3>
                <form action = "http://localhost:5000/uploader" method = "POST" 
                    enctype = "multipart/form-data">
                        <input type = "file" name = "file" />
                        </br>
                        <input type = "submit"/>
                    </form>   
              </div>
              <div class="col-sm">
                <h3>Macroeconomic Indicators</h3>
              </div>
              <div class="col-sm">
                <h3>Federal Funds Futures</h3>
                <form action = "http://localhost:5000/runfff" method = "POST">
                    <button type="submit">Run Federal Funds Future Model</button>
                </form>
              </div>
            </div>
          </div>
    </div>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

  
</div>

{% endblock my_content %}