{% extends "layout.html" %}

{% block my_content %}
<div class="container-fluid h-100">
    <h2 style="color:navy; margin:10px; border:1px">Federal Funds Futures Model</h2>

    <h4 style="color:navy; margin:10px;">Model Predictions</h4>
    <div class=2"row h-33">
            <div class="chart" id="fff-1">
            </div>
    </div>
    <hr>
    <h4 style="color:navy; margin:10px;">Federal Dot Plot vs Model Predictions</h4>
    <div class=2"row h-33">
        <div id="fff-2">
        </div>
    </div>
    <hr>
</div>

<script>
    var graphs = {{ context.plot_fff_results | safe }};
    Plotly.plot('fff-1', graphs, {});
</script>
<script>
    var graphs = {{ context.plot_futures_pred_vs_fomc | safe }};
    Plotly.plot('fff-2', graphs, {});
</script>
{% endblock my_content %}