{% extends "layout.html" %}

{% block my_content %}
<div class="container-fluid h-100">
    <h2 style="color:navy; margin:10px; border:1px">Macroeconomic Indicators Drill Down</h2>

    <h3 style="color:navy; margin:10px;">Macro Model Analysis</h3>
    <div class=2"row h-33">
            <iframe src="/dashapp" width=100% height=500 scrolling='no' style="border:none;background-color: white;margin: 0 1% 0 0"></iframe>
    </div>
        <div class=2"row h-33">
            <div class="chart" id="macro-5">
            </div>
    </div>
    <hr>
    <h3 style="color:navy; margin:10px;">Macroeconomics Indicators Sub Index</h3>
    <h4 style="color:navy; margin:10px;">GDP Economic Indicator</h4>
    <div class=2"row h-33">
            <div class="chart" id="macro-1">
            </div>
    </div>
    <hr>
    <h4 style="color:navy; margin:10px;">Employment Economic Indicator</h4>
    <div class=2"row h-33">
        <div id="macro-2">
        </div>
    </div>
    <hr>
    <h4 style="color:navy; margin:10px;">Inflation Economic Indicator</h4>
    <div class=2"row h-33">
        <div id="macro-3">
        </div>
    </div>
</div>

<!-- Script to execute the Json ( we can create it also with looping) -->
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_gdp_index | safe }};
    Plotly.plot('macro-1', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_employment_index | safe }};
    Plotly.plot('macro-2', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_inflation_index | safe }};
    Plotly.plot('macro-3', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_main_model| safe }};
    Plotly.plot('macro-4', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_indicators_ts| safe }};
    Plotly.plot('macro-5', graphs, {});
</script>

{% endblock my_content %}