{% extends "layout.html" %}

{% block my_content %}

<div class="container-fluid">
    <h2 style="color:navy; margin:10px; border:1px">Market Consensus Drill Down</h2>
    <!-- first row, first column-->
    <div class=2"row">
        <h4 style="color:navy; margin:10px;">Time Series of Sentiment Scores</h4>
        <div class="chart" id="market-3">
        </div>
    </div>
    <hr>
    <div class=2"row">
        <h4 style="color:navy; margin:10px;">Analysis on Data Collected</h4>
        <div class="row">
            <div class="form-group"style="margin:15px;">
                <form action"" method="POST" novalidate>
                <label for="date-mm">Input Year</label>
                    <input type="year" id="date" name="date" class="form-control" format="yyyy" placeholder="YYYY">
                {{ form.submit() }}
                </form>
            </div>
        </div>
        <h5 style="color:navy; margin:10px;">Ngram Plot for FOMC Statement</h5>
        <div class="chart" id="market-1">
        </div>
    </div>
    <div class=2"row">
        <h5 style="color:navy; margin:10px;">Ngram Plot for FOMC Meeting Minutes</h5>
        <div class="chart" id="market-2">
        </div>
    </div>
    <div class=2"row">
        <h5 style="color:navy; margin:10px;">Ngram Plot for News Articles</h5>
        <div class="chart" id="market-4">
        </div>
    </div>
    <hr>
</div>


<script>
    var graphs = {{ context.ngram_statement| safe }};
    Plotly.plot('market-1', graphs, {});
</script>
<script>
    var graphs = {{ context.ngram_min | safe }};
    Plotly.plot('market-2', graphs, {});
</script>
<script>
    var graphs = {{ context.market_ts_plot| safe }};
    Plotly.plot('market-3', graphs, {});
</script>
<script>
    var graphs = {{ context.ngram_news | safe }};
    Plotly.plot('market-4', graphs, {});
</script>

{% endblock my_content %}